$GRAY_1: rgb(119, 119, 119);
$GRAY_2: rgb(121, 121, 121);
$GRAY_3: #d9d9d9;
$GRAY_4: #475168;
$GRAY_5: #ececec;
$GRAY_6: #fafafa;
$GRAY_7: #dfdcdf;
$GRAY_8: #f1f1f1;
$GRAY_9: #eaeaea;

$GREEN_1: #48cfad;

$BLUE_1: #34495e;
$BLUE_2: #2c3e50;
$BLUE_3: #3bafda;
$BLUE_4: #4fc1e9;


$FONT_MAIN: 'Lato', 'Roboto', sans-serif;
$FONT_BOLD: 'Lato Bold', 'Roboto Bold', sans-serif;
$FONT_LIGHT: 'Lato Light', 'Roboto Light', sans-serif;
